:host {
  display: block;
  padding: 0 16px;
  margin: 0 auto;
}

input {
  border: 1px solid #106cc8 !important;
  box-shadow: none !important;
  width: 100%;
  border-radius: 5px;
}

select {
  display: block;
  border: 1px solid #106cc8;
  /*border-radius: 0;*/
  /*-webkit-appearance: none;*/
}

label {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  /*border-left: 5px solid #a94442;   */
}

input[type=text],
input[type=password] {
  padding-left: 10px;
  letter-spacing: 2px;
  margin-bottom: 0;
}

[type=submit] {
  margin-right: 20px;
}

.errorMessage {
  margin-top: 5px;
  color: #ee6e73;
}

.tipsMessage {
  margin-top: 5px;
}
