<div class="row" *ngIf="questionnaire">
    <div class="col-lg-3">
        <button type="button" class="btn btn-default btn-lg" (click)="onPreview()">
            <span class="glyphicon glyphicon-search"></span>
            <span class="control-text">预览</span>
        </button>
    </div>
    <div class="col-lg-3" *ngIf="questionnaire.state===0">
        <button type="button" class="btn btn-default btn-lg" (click)="onEdit()">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="control-text">编辑</span>
        </button>
    </div>
    <div class="col-lg-3" *ngIf="questionnaire.state===0">
        <button type="button" class="btn btn-default btn-lg" (click)="onPublish()">
            <span class="glyphicon glyphicon-plane"></span>
            <span class="control-text">发布</span>
        </button>
    </div> 
    <div class="col-lg-3" *ngIf="questionnaire.state===1">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="control-text">结束</span>
        </button>
    </div>
    <div class="col-lg-3">
        <button type="button" class="btn btn-default btn-lg" (click)="onDelete()">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="control-text">删除</span>
        </button>
    </div>
</div>