<div class="center-container" *ngIf="isEmpty">
    <div class="show-empty">
        尚未创建任何问卷，马上<a [routerLink]="['/admin/edit/0']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">创建一个</a>吧！
    </div>
</div>
<div class="row center-container" *ngIf="!isEmpty">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">问卷列表</div>
            <div class="list-group">
                <a class="list-group-item questionnaire-item" *ngFor="let item of questionnaires;let i=index;"
                    (click)="onSelect(item, i)" [class.active]="item===selectedQuestionnaire">
                    <questionnaire-item [questionnaire]="item"></questionnaire-item>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">问卷详情</div>
            <div class="panel-body">
                <questionnaire-detail [questionnaire]="selectedQuestionnaire"></questionnaire-detail>
            </div>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading">问卷管理</div>
            <div class="panel-body">
                <questionnaire-controls [questionnaire]="selectedQuestionnaire"
                    (deleteQuestionnaire)="onDeleteQuestionnaire()" 
                    (publishQuestionnaire)="onPublishQuestionnaire()"></questionnaire-controls>
            </div>
        </div>
    </div>
</div>